@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body{
    font-family: 'Roboto', sans-serif;
    color: #190e49;
    font-weight: 300;
    background: url(../images/bg.png);
    background-attachment: fixed;
    padding-top: 109px;
}
input::-ms-clear {  display: none; width : 0; height: 0; }
input::-ms-reveal {  display: none; width : 0; height: 0; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

a{
    text-decoration: none!important;
    transition: all 0.5s ease;
}

.bg-primary{
    background-color: #64c0d9!important;
}

.btn-primary {
    color: #fff;
    background-color: #d94c24;
    border-color: #d94c24;
}
.next:not(:option) {
    color: #fff;
    background-color: #d94c24!important;
    border-color: #d94c24!important;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #64c0d9;
    border-color: #64c0d9;
}

.navbar {
    padding: 27px 4% 22px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
}
.navbar-brand {
    line-height: 0;
    padding: 0;
    margin-right: 0;
}
.header-call-info{
    color: #000;
    text-align: center;
} 
.header-call-info label{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}
.header-call-info a:link, .header-call-info a:visited{
    color: #d94a21;
    font-size: 24px;
    line-height: 20px;
    font-weight: 500;
}
.header-call-info a:hover{
    color: #fff;
}

.taxhelp-for-drivers{
    padding: 30px 0 0;
}
.taxhelp-for-drivers h1{
    margin: 19px 0;
    color: #190e49;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}
.taxhelp-for-drivers h1 span{
    display: block;
    font-weight: 300;
}
.taxhelp-for-drivers  h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.taxhelp-for-drivers  h3 span{
    font-style: italic;
}

.car-tax-image{
    margin: 120px auto 0;
}

.tax-form {
    background: #cfd8dc;
    padding: 30px 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    margin-bottom: 60px;
    min-height: 420px;
}

.tax-form .form-title {
    margin-bottom: 25px;
    text-align: center;
    display: block;
    color: #d94a21;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    letter-spacing: 0.36px;
}
.tax-form .step-1 .form-title {
    margin-bottom: 15px;
}

.tax-form .form-group {
    margin-bottom: 0px;
}
.tax-form .form-control {
    border-radius: 5px;
    height: 63px;
    line-height: 63px;
    padding: 0 15px;
    box-shadow: none!important;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 22px;
    max-width: 575px;
    margin: 0px auto 20px;
    font-weight: 300;
    border: 1px solid #52636c;
}
.tax-form .form-control.option {
    border-radius: 3px;
    background-color: #d94c24;
    color: #fff;
    height: 63px;
    padding: 5px 8px;
    margin-bottom: 12px;
    box-shadow: none!important;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
    min-width: 100%;
    border: 0;
}
.tax-form select.form-control{
    color: #000000;
    font-size: 22px;
    font-weight: 300;
}
.tax-form .step-1 .form-control{
    margin-bottom: 20px;
    text-transform: capitalize;
}
.tax-form .step-1 .form-control:not(#employment_type_other):hover{
    background: #64c0d9;
}
.tax-form .form-control::placeholder{
    color: #190e49;
}
.tax-form .form-control::-webkit-input-placeholder{
    color: #190e49;
}
.tax-form .form-control::-moz-placeholder{
    color: #190e49;
}
.tax-form .next {
    height: 63px;
    width: 100%;
    max-width: 419px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    letter-spacing: 0.14px;
    padding: 10px 50px 10px;
    margin: 0px auto;
    color: #ffffff;
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
     position: relative;
}
.next span{
    display: inline-block;
}
.next span:after {
    content: "";
    position: absolute;
    right: 30px;
    width: 25px;
    height: 25px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 15px;
    background: url(../images/arrow-right-circle.png) no-repeat;
}
form .terms {
    display: block;
}
form .terms p {
    color: #000000;
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
}
.form-details{
    padding-top:20px;
}
.emailCompailance {
    padding: 0px 0 20px;
}

.emailCompailance, .form-details{
    max-width: 575px;
    margin: 0px auto;
    text-align: left;
}

.emailCompailance p {
    color: #190e49;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-bottom: 0;
    margin-bottom: 5px;
}
.emailCompailance p:before {content: "";display: inline-block;background: url('../images/lock.png') no-repeat;width: 12px;height: 16px;margin-right: 8px;}
.emailCheckbox label {
    color: #190e49;
    font-weight: 300;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
}

/*checkbox css start*/

.chkbox {display: block;position: relative;padding-left: 20px;margin-bottom: 12px;cursor: pointer;font-size: 22px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.chkbox input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute;top: 0;left: 0;height: 15px;width: 15px;background-color: #b4b4b4;border-radius: 2px;}
.chkbox:hover input ~ .checkmark {background-color: #ccc;}
.chkbox input:checked ~ .checkmark {background-color: #2196F3;}
.checkmark:after {content: "";position: absolute;display: none;}
.chkbox input:checked ~ .checkmark:after {display: block;}
.chkbox .checkmark:after {left: 5px;top: 2px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}

/*checkbox css end*/

.selectbox select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select::-ms-expand{
	display: none;
}
.selectbox{
    position: relative;
    max-width: 575px;
    margin: 0px auto 20px;
}
.selectbox:after {
    content: "";
    width: 17px;
    height: 13px;
    position: absolute;
    right: 15px;
    background: url(../images/select-arrow.png);
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
}
.testimonial-wrapper {
    background: #64c0d9;
    padding: 62px 0px 50px;
    color:#fff;
}

.testimonial-inner {
    margin: 0px auto;
}
.testimonial-inner .carousel-inner {
    padding: 0 15%;
}
.testimonial-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
}
.testimonial-item::before, .testimonial-item::after{
    content: "";
    width: 27px;
    height: 19px;
    position: absolute;
    bottom: 50%;
    transform: translateY(-50%); 
    background-size: contain;
    background-repeat: no-repeat;
}

.testimonial-item::before{
    background-image: url("../images/quote-start.png");
    right: calc(115% - 30px)
}
.testimonial-item::after{
    background-image: url("../images/quote-end.png");
    left: calc(115% - 30px)
}
.testimonial-by{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px
}
.testimonial-inner .carousel-indicators{
    bottom: -50px;
}
.testimonial-inner .carousel-indicators li{
    width: 10px;
    height: 10px;
    margin: 0 3px;
    border-radius: 50%;
    background-color: #3f698e;
    opacity: 1;
}
.testimonial-inner .carousel-indicators li.active{
    background-color: #fff;
}
.independant-contactor, .no-saving , .help-for-uber-driver{
    padding:  109px 0 65px;
    min-height: 564px;
    background-image: url("../images/paying-taxes.png");
    background-size: 50%;
    background-repeat:no-repeat;
    background-position: right;
}

.no-saving{
    background-image: url("../images/no-saving.png");
    background-position: -70px;
}

.help-for-uber-driver{
    background-image: url("../images/i-can-help.png");
    background-position: calc(100% + 40px)
}

.independant-contactor h2, .no-saving h2, .help-for-uber-driver h2{
    color: #52636c;
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
}
.independant-contactor h2 span, .no-saving h2 span, .help-for-uber-driver h2 span{
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}
.info-text{
    color: #52636c;
}


.footer{
    background-color: #64c0d9;
    padding: 50px 0 35px;
    color: #000;
}

.quick-links a:link, .quick-links a:visited{
    color: #000;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
}
.quick-links a:hover{
    color: #fff;
}
.quick-links .list-inline-item:not(:last-child){
    border-right: 1px solid #000;
    margin-right: 20px;
    padding-right: 20px;
    line-height: 0;
}

.footer-text{
    max-width: 80%;
    margin: 0px auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}
.footer-text p{
    margin-bottom: 5px;
}

.copyright{
    margin-top: 31px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
}
.copyright a:link, .copyright a:visited{
    color: #000!important;
}

.copyright a:hover{
    color: #fff!important
}
label.error {
    font-size: 12px;
    color: #e81e1e;
    line-height: 12px;
    font-weight: 500;
    display: table!important;
    position: relative;
    bottom: 11px;
    height: 0;
    width: 100%;
    /*position: absolute;
    bottom: -5px;
    margin-top: 10px;*/
    
}

.chkbox label.error {
    bottom: -2px;
}

.form-details-active .form-details{
    display: block;
}
.hint {
    text-align: center;
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 10px;
}
.note {
    line-height: 20px;
    margin: 0px auto;
    display: table;
    text-align: center;
    color: #52636c;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.step-1-open .submit-btn-section{
    display: none!important;
}
.title {
    color: #000000;
    font-family: Roboto;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: 0.36px;
    margin: 0 0 30px;
}
.sub-title{
    color: #000000;
    font-size: 22px;
    font-weight: 300;
    display: block;
    text-align: center;
    margin-bottom: 25px;
}
.range-slider {
    width: 75%;
    position: relative;
    display: table;
    margin: 0px auto;
}
.ui-widget.ui-widget-content {
	border: 1px solid #d94a21;
	margin-bottom: 15px;
	position: relative;
}
.ui-widget.ui-widget-content .ui-slider-handle {
    border-radius: 50%;
    background: #d94a21;
    width: 41px;
    height: 41px;
    border: 1px solid #707070;
    background-color: #d94c24;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}
.range-slider .range-value {
    margin-top: 5px;
    position: relative;
    height: 30px;
}
.range-slider .range-value .left-val, .range-slider .range-value .right-val {
	position: absolute;
	text-align: left;
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
    color: #474747;
}
.range-slider .range-value .right-val {
    right: 0px;
}
.range-slider .range-value .left-val {
	left: 0px;
}

p.price-picker {
    font-size: 20px;
    line-height: 22px;
    font-family: 'open sans',sans-serif;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center;
}
.ui-slider-horizontal {
    height: 22px;
    border-radius: 10px;
    border: 1px solid #707070;
    background-color: #ffffff;
}
.step {
    text-align: center;
}
.step-img {
    margin-bottom: 12px;
}
.checkmark-input {
    background-image: url(../images/not-active-check.png);
    background-position: calc(100% - 20px);
    background-repeat: no-repeat;
    background-size: 21px 21px;
}
.dis-none{display: none;}
.tax-form #state.form-control{
    margin-bottom: 30px;
}
#state-error {
    position: absolute;
    top: 100%;
    margin-top: 10px;
}
.checkmark-input.error {
    border: 1px dotted;
    background-image: url(../images/error-img.png) !important;
}

@media(min-width: 1200px){
    
    .independant-contactor, .no-saving, .help-for-uber-driver{
        background-size: contain;
    }
    .independant-contactor {
        background-position: calc(100% - 15px);
    }
    .no-saving, .help-for-uber-driver{
            margin-top: -80px;
    } 
    
    .car-tax-image{
        margin: 20px auto 0;
    }

}

@media (min-width:992px) and (max-width: 1199px){
     .tax-form{
        padding: 30px 15px;
    }
    .emailCheckbox label{
        font-size: 10px;
    }
    .note{
        font-size: 14px;
        line-height: 14px;
    }
    
}

@media(max-width:991px){
    .tax-form {
        padding: 30px 15px;
    }
    .tax-form .form-control.option{
        font-size: 20px;
    }
    .independant-contactor, .no-saving, .help-for-uber-driver{
        background: none;
        text-align: center;
        padding: 95px 0 0px;
        min-height: inherit;
    }
    .independant-contactor img, .no-saving img, .help-for-uber-driver img{
        width: 402px;
        margin: 20px auto 0;
    }
    .independant-contactor h2, .no-saving h2, .help-for-uber-driver h2{
        margin-bottom: 30px;
    }
    
    .help-for-uber-driver{
        margin-bottom: 15px;
    }
    
    .car-tax-image {
        width: 330px;
        margin: 0px auto;
        display: table;
    }
    .testimonial-by {
        text-align: right;
    }
    .footer-text{
        max-width: 95%;
    }
    .taxhelp-for-drivers .title {font-size: 30px !important;}

}
.first-step-btn {
    width: auto !important;
    min-width: inherit !important;
    padding: 0 130px !important;
}
@media(max-width:767px){
.tax-form .form-title {
    text-align: center;
    margin: 0 0px 20px!important;
    display: block;
    font-size: 18px;
    line-height: 20px;
}
.tax-form .sub-title {font-size: 16px;} 
}
@media(max-width:576px){

    .first-step-btn {
        padding: 0 30px !important;
    }
    .ui-widget.ui-widget-content .ui-slider-handle {
        width: 31px;
        height: 31px;
    }
    .ui-slider-horizontal {
        height: 15px;
    }
    .tax-form .next {
        height: 50px;
        font-size: 22px;
        margin-top: 10px;
    }
    body{
        padding-top: 0;
    }
    
    form .terms {
        margin: 0;
    }
    .range-slider{
        width: 90%;
    }

    .tax-form .step-1 .form-control {
        margin-bottom: 13px;
    }
    .tax-form .form-control.option {
        margin: 5px 0;
    }
    .note, .hint {
        font-size: 10px;
        line-height: 12px;
        display: block;
        text-align: center;
    }
    
    .taxhelp-for-drivers h1 {
        text-align: center;
    }
    .header-call-info {
        margin: 0 -25px 50px;
        width: auto;
        padding: 10px 4%;
    }
    .header-call-info > * {
        display: block;
        width: 100%;
    }
    a.navbar-brand {
        margin-bottom: 10px;
    }
    .container{
        padding-left: 25px;
        padding-right: 25px;
    }
    .tax-form {
        margin-bottom: 0;
    }
    .tax-form .form-group{
        padding: 0;
    }
    .testimonial-inner .carousel-inner {
        padding: 0 10px;
    }
    .testimonial-content{
        margin-bottom: 0;
    }
    .testimonial-item{
        padding: 55px 0 0px;
        margin-bottom: 30px;
    }
    .testimonial-wrapper{
        padding-top: 0;
        padding-bottom: 65px;
    }
    .testimonial-item::before, .testimonial-item::after{
        width: 18px; 
        height: 14px;
    }
    .testimonial-item::before {
        bottom: inherit;
        top: 30px;
        right: calc(100% - 20px);
    }
    .testimonial-item::after {
        bottom: -30px;
        left: calc(100% - 20px);
    }
    .testimonial-by{
        text-align: left;
        margin-top: 15px;
    }
    .independant-contactor, .no-saving, .help-for-uber-driver{
        text-align: left;
    }
    .independant-contactor{
        padding-top: 75px;
    }
    .no-saving{
        padding-top: 42px;
    }
    .help-for-uber-driver{
        padding-top: 32px;
        padding-bottom: 40px;
    }
    .quick-links{
        text-align: center;
    }
/*    .quick-links .list-inline-item:not(:last-child){
        border-right: 0;
        display: block;
        padding: 0;
        margin: 0 0 35px;
    }*/
    .quick-links li:after{
        display: none;
    }
    .footer {
        padding: 30px 0 70px;
    }

    .tax-form {
        text-align: left;
        margin-bottom: 25px;
        padding: 30px 10px 20px;
    }
    /*.tax-form .form-title {
        text-align: center;
        margin: 0 0px 20px!important;
        display: block;
        font-size: 18px;
        line-height: 20px;
    }*/
    
    .tax-form .form-control {   
        height: 50px;
        line-height: 50px;
        padding: 0px 23px;
        font-size: 20px;
        margin-bottom: 30px;

    }
    
    
    .next {
        width: 100%;
    }
    
}

@media(max-width:479px){
    /* .emailCompailance,.emailCheckbox label {margin: 0;} */
    .terms {text-align: left;margin: 0;}
    .quick-links .list-inline-item:not(:last-child) {margin-right: 0px;padding-right: 4px;}
    .quick-links a:link, .quick-links a:visited {font-size: 14px;}
}
@media(max-width:375px){
    .quick-links a:link, .quick-links a:visited {font-size: 13px;}
}
@media(max-width:320px){
    .quick-links a:link, .quick-links a:visited {font-size: 10px;}
}