@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.thankspage .container{
    width: 100% !important;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 20px 30px;
}

header{
    padding: 5px;
    border-bottom: 1px solid #f0f0f0;

}

.logo img{
    width:94px;
    height: auto;
}

.call-box {
    text-align: right;
}

.call-text {
    font-size: 9px;
    color: #757575;
    margin-top: 3px;
    font-weight: bold;
}
.call-number {
    color: #ff9101;
    font-weight: 700;
    line-height: 20px;
    font-size: 20px;
}
.thankspage {
    font-size: 20px !important;
    color: #190e49;
    max-width: 100%;
    margin: 0px auto;
    border: 0px solid #ddd;
    padding-top: 121px;
}
.thanks-title {
    font-size: 33px;
    line-height: 45px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0px;
    /* color: #707070; */
}
.thanks-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 300;
    margin-top: 0;
    /* color: #707070; */
}
.thanks-desc {
    font-size: 23px;
    margin-bottom: 30px;
    margin: 0px auto 10px;
    max-width: 90%;
    /* color: #707070; */
}
/*.thanks-desc:first-line {
    font-size: 23px;
    text-align: center;
}*/
.thanks-container{
    max-width: 55%;
    margin: 0px auto;
}
.thanks-item {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}
.thanks-item img {
    display: table;
    margin: 0px auto 5px;
    padding: 20px;
    border: 1px solid #190e49;
}
.thanks-item figcaption {
    font-size: 17px;
    line-height: 20px;
    display: block;
    margin: 0px auto;
    font-weight: normal;
    max-width: 170px;
}
.thanks-info {
    font-size: 16px;
    margin-bottom: 20px;
}
.thanks-info-title {
    font-size: 20px;
    margin-top: 15px;
    display: inline-block;
}
.thanks-list {
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 0;
}
.thanks-list li {
    float: left;
    width: 50%;
    padding-left: 20px;
    list-style-type: none;
    position: relative;
}
.thanks-list li:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 50%;
    left: 7px;
    top: 9px;
}
.bonus-offer {
    text-align: center;
}
.bonus-title {
    display: inline-flex!important;
    display: -ms-inline-flexbox!important;
    -ms-flex-align: center !important;
    align-items: center !important;
    font-size: 24px;
    margin-top: 0;
}
.bonus-offer .bonus-title:before{
    content:"";
    height:64px;
    width:64px;
    background: url("../images/offer-arrow.png");
    margin-right: 15px;
    margin-top: 15px;
}
.offer-image {
    display: table;
    margin: 0px auto;
}
.piggy-img {
    margin-top: -50px;
    max-width: 225px;
}
.bonus-subtitle {
    font-size: 20px;
}
.footer-detail {
    margin: 20px auto 15px;
    color: #707070;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
.footer-bottom {
    font-size: 12px;
    line-height: 20px;
    color: #707070;
    font-weight: 300;
    display: -ms-flexbox !important;
    display: flex !important;
   -ms-flex-direction: column !important;
    flex-direction: column !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}
.copyright{
    margin-bottom: 10px;
}

.footer-bottom a:link, .footer-bottom a:visited{
    color: #707070;
}
.footer-bottom a:hover{
    color: #000;
}
.footer-bottom .list-inline>li{
    float: left;
    line-height: 12px;
}
.footer-bottom .list-inline>li:not(:last-of-type){
    border-right: 1px solid #707070;
}
.footer-nav li:not(:last-of-type) {
    border-right: 1px solid #f0f0f0;
}
.phone-number {
    color: #6cd1d6;
    font-size: 1.47vw;
    font-weight: 500;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    text-align: center;
}
.number {
    color: #fff!important;
}
.thankspage header {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #4026aa;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
.header-inner {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
    -ms-flex-align: center;
    align-items: center;
}
.header-right {
    min-width: 236px;
    text-align: right;
}

@media only screen and (max-width: 1400px){
    
}

@media only screen and (max-width: 1024px){
    .header-inner .header-left img {max-width: 230px;}
   
}


@media only screen and (max-width: 991px){
    .header-right {
        min-width: inherit;
        text-align: center;
    }
}

@media only screen and (max-width: 767px){
   
    .thankspage {
        max-width: 100%;
        padding-top: 165px;
    }
    .piggy-img{
        margin-left: auto;
        margin-right: auto;
        display: table;
    }
    .thankspage .container {
        padding: 10px 15px;
    }
    .thanks-container{
        max-width: inherit;
    }
    .header-inner {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
       -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    
    .phone-number {
        width: 100%;
        padding-top: 10px;
        font-size: 16px;
    }
    .piggy-img {
        margin-top: -40px;
    }
    
    .bonus-subtitle {
        margin-bottom: 0;
    }
    .footer-nav {
        float: none;
        margin-top: 10px;
    }
    
}

@media only screen and (max-width: 320px){
    .footer-bottom .list-inline>li {
        font-size: 11px;
    }
}